body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #723636; 
    background-color: #79a2d0; 
    font-family: 'Georgia', serif; 
    font-size: 36px;
  }
  